name: DAG

on:
  push:
    paths:
      - 'dags/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.7'
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/requirements.txt
        pip check
    - name: Lint DAGs with Flake8
      run: |
        pip install flake8==4.0.1
        flake8 --ignore E501 dags --benchmark -v
    - name: Confirm Black code compliance fo DAGs
      run: |
        pip install pytest-black==0.3.12
        pytest dags --black -v
    - name: Test DAGs with Pytest
      run: |
        pip install pytest==6.2.5
        pushd tests || exit
        python3 -m pytest tests.py -v || exit
        popd || exit
    
