name: maven
on: 
  push: 
    branches: ['feature/test']
jobs:
 build-package:
  runs-on: ubuntu-latest
  steps:
   - name: checkout code in repo
     uses: actions/checkout@v3
   - name: setup java sdk
     uses: actions/setup-java@v1
     with:
      java-version: 1.8
   - name: check maven version
     run: mvn -v
   - name: compile java file in main
     run: mvn compile
   - name: test code with test cases
     run: | 
      mvn test-compile
      mvn test
   - name: packaging the maven code into jar file
     run: mvn package
   - name: Maven Sonar Code Quality Check
     run: mvn sonar:sonar -Dsonar.host.url=http://34.131.138.41:9000 -Dsonar.login=${{secrets.SONAR_TOKEN}}

