name: sonarqube
on: 
  push: 
    branches: ['feature/sonar']
jobs:
 build-package:
  runs-on: ubuntu-latest
  steps:
   - name: checkout code in repo
     uses: actions/checkout@v3
   - name: setup java sdk
     uses: actions/setup-java@v3
     with:
       distribution: 'temurin'
       java-version: '17'
   - name: Check Maven Version
     run: mvn -v
   - name: Compile Java File in Main
     run: mvn compile
   - name: Test Code with Test Cases
     run: | 
      mvn test-compile
      mvn test
   - name: Maven Sonar Code Quality Check
     run: mvn sonar:sonar -Dsonar.host.url=http://34.131.93.144:9000 -Dsonar.login=${{secrets.SONAR_TOKEN}}
